.NavBarFlexBox {
  display: flex;
  /* we use overflow: hidden to mask the scrollbar for the navbar
  could be a bug in chromium because the calculated width matches the window width 
  but scrollbar is still shown */
  overflow: hidden; 
}

.NavBar.TabBar {
  justify-self: auto;
  flex-grow: 1;
}

.NavBar.MenuBar {
  justify-self: flex-end;
  flex-shrink: 0;
}

.NavBar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.NavBar .teamTabItem {
  -webkit-app-region: no-drag;
}

.NavBar .teamTabItem span {
  -webkit-app-region: no-drag;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 170px;
}

.NavBar>li>a {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2px 2px 0 0;
  border: 1px solid #ddd;
  color: #888;
  height: 31px;
  line-height: 29px;
  margin-right: -1px;
  margin-top: 0px;
  padding: 0 15px;
}

.NavBar>li.teamTabItem:not(.active)>a:hover {
  background-color: #e6e6e6;
  border: 1px solid #ddd;
  transition: background-color 0.2s ease;
}

.NavBar .TabBar-addServerButton>a {
  -webkit-app-region: no-drag;
  border: none;
  background: transparent;
  color: #999;
  font-size: 10px;
  line-height: 31px;
}

.NavBar .TabBar-addServerButton>a:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  transition: background-color 0.2s ease;
}

.NavBar .TabBar-badge {
  background: #FF1744;
  float: right;
  color: white;
  min-width: 19px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  height: 19px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 50%;
}

.NavBar .TabBar-badge.TabBar-badge-noMention {
  font-size: 22pt;
  line-height: 18px;
}

.NavBar .teamTabItem-unread {
  font-weight: bold;
}

.NavBar>li.menuBarItem>a {
  -webkit-app-region: no-drag;
  font-size: 12px;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0);
}